# Ignore Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Ignore Terraform plan files
*.tfplan

# Ignore crash logs
crash.log

# Ignore sensitive files
*.pem
*.key

# Ignore environment variable files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore log files
*.log